In [1]:
import pandas as pd

In [5]:
df=pd.read_excel(r"C:\Users\Asus\OneDrive\Desktop\insurance.xlsx")

In [6]:
df

   age  premium
0   25    18000
1   30    32000
2   35    40000
3   40    47000
4   45    55000

seperate dependent and independent variable

In [7]:
x=df['age']

In [8]:
y=df['premium']

In [9]:
x

0    25
1    30
2    35
3    40
4    45
Name: age, dtype: int64

In [10]:
y

0    18000
1    32000
2    40000
3    47000
4    55000
Name: premium, dtype: int64

split the dataset

In [11]:
#train_test_split is a method
from sklearn.model_selection import train_test_split

In [12]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [18]:
x_test

3    40
Name: age, dtype: int64

In [14]:
x_train

1    30
4    45
0    25
2    35
Name: age, dtype: int64

In [15]:
y_test

3    47000
Name: premium, dtype: int64

In [16]:
y_train

1    32000
4    55000
0    18000
2    40000
Name: premium, dtype: int64

In [20]:
#for print the length
len(y_train)

4

In [21]:
len(y_test)

1

In [22]:
len(x_train)

4

In [23]:
len(x_test)

1